body {
			background-color : grey;
}


ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	opacity : 0.7;
	
}

li {

    float: left;
	border-right : 1px solid black
}
.container {
			position : fixed;
			margin : auto;
			top : 60%;
			left : 50%;
			margin-left : -350px;
			margin-top : -100px;
			
}
.rock,.paper,.scissor{
    float : left ;
	overflow: auto;
	margin-bottom : 50px;
	width : auto;
	padding-right : 10px;
	margin-left: 10px;
}

.container3 { 
			position : fixed;
			top : 10%;
			right : 2%;
		
			}
			
.container4 { 
			position : fixed;
			margin : auto;
			left : 45%;
			top : 25%;
	
		
			}
			
.form {
		position : fixed;
		margin : auto;
		top : 30%;
		left: 35%;
}
 

 .container2 { 
			position : fixed;
			top : 10%;
			left: 2%;
		
			}
	
	
.list {
			height : 80%;
			width : 80%;
}

#button {
		position:fixed;
		bottom: 10%;
		background-color : darkgrey;
		
}

#footer {
			position :fixed;
			bottom : 0;
			color : white;
			width: 100%;
			text-align : center;
}


img {
		width : 200px;
		height : 200px;
}

#compsub{
	position : fixed;
	right : 0;
}

.score {
		position :fixed;
		top : 20%;
		left : 46%;

	}
#scoreform {
		position : fixed;
		top : 25%;
		left : 60%;

	}
